.dhis2-instance-summary-wrapper {
  margin-bottom: 10px;
  margin-top: 10px;

  .pt-html-table {
    margin-bottom: 5px;
  }

  .dhis2-instance-operations {
    button {
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}