@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~normalize.css/normalize.css";

body {
  min-height: 100vh;

  #root {
    height: 100%;
  }
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.app {
  display: grid;
  grid-template-rows: 50px auto 40px;
  min-height: 100%;

  .app-content {
    display: grid;
    grid-template-columns: 250px auto;

    .app-content-ui {
      padding: 15px;
    }

    .app-content-sidebar {
      min-height: calc(100vh - 50px - 40px);

      border-right: 1px solid rgba(16, 22, 26, 0.2);
      border-radius: 0px;
    }
  }

  .app-footer {
    text-align: center;
    padding-top: 11px;
    border-top: 1px solid rgba(16, 22, 26, 0.2);
  }
}