.event-route-info-wrapper {
  margin-top: 10px;
  .edge-info {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    font-weight: 600;
    em {
      font-weight: normal;
    }
  }

  .event-route-stat-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .pt-card {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .trips-summary-total {
    td {
      border-top: 1px solid rgba(16, 22, 26, 0.15) !important;
    }
  }

  .text-bold {
    font-weight: 500;
  }
}